@use 'base';
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  margin: 0;
  padding: 0;
}

.action{
  font-family: 'Raleway', sans-serif;
  background: base.$button-bg-color;
  color: base.$button-text-color;
  font-size: base.$default-form-font-size;
  margin: 0;
  padding: 0;
  height: 40px;
  border: none;
  cursor: pointer;
}

.action:hover{
  background: base.$button-hover-color;
  transition: background 1s;
}

.action:focus{
  outline: none;
}

header{
  background: base.$button-bg-color;
  height: 60px;

  .action{
    padding: 0 20px 0 20px;
    width: 10%;
    background: transparent;
    height: 100%;
  }

  div{
    margin: 0;
    padding: 0;
    height: 100%;
  }


}

.header-film-div{
  float: left;
  width: fit-content;
  .action{
    width: max-content;
  }
}

.header-user-div{
  float: right;
  width: fit-content;
  .action{
    width: fit-content;
  }
}

.form-block{
  font-family: 'Raleway', sans-serif;
  width: base.$default-form-width;
  margin: 0 auto;


  label{
    display: block;
    width: base.$default-input-width;
    font-size: base.$default-form-font-size;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  }

  input{
    font-family: 'Raleway', sans-serif;
    display: block;
    width: base.$default-input-width;
    font-size: base.$default-form-font-size;
    margin: 0;
    padding: 5px 3px;
    border: base.$input-border;
    border-radius: 5px;
    font-weight: 400;
  }

  select{
    width: base.$default-input-width;
    font-size: base.$default-form-font-size;
    margin: 0;
    padding: 5px 3px;
    border: base.$input-border;
    border-radius: 5px;
    font-weight: 400;
    background: base.$white;
  }

  option{
    width: base.$default-input-width;
    font-size: base.$default-form-font-size;
    margin: 0;
    padding: 5px 3px;
    border: base.$input-border;
    border-radius: 5px;
    font-weight: 400;
  }

  .action{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }

  textarea{
    width: base.$default-input-width;
    font-size: base.$default-form-textarea-font-size;
    margin: 0;
    padding: 5px 3px;
    border: base.$input-border;
    border-radius: 5px;
    resize: none;
    height: 100px;
    font-weight: 400;
  }

}

.registration-role-choice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: base.$input-border;
  border-radius: 5px;
  padding: 10px;

}

.registration-role-item{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 40%;

  label{
    margin: 0;
    width: initial;
  }

  input{
    width: initial;
    margin-left: 10px;
  }
}