@use 'base';
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  margin: 0;
  padding: 0;
}

.title{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input{
  font-family: 'Raleway', sans-serif;
  display: block;
  font-size: base.$default-form-font-size;
  margin: 0;
  padding: 5px 3px;
  border: base.$input-border;
  border-radius: 5px;
  font-weight: 400;
}

.action{
  font-family: 'Raleway', sans-serif;
  background: base.$button-bg-color;
  color: base.$button-text-color;
  font-size: base.$default-form-font-size;
  margin: 0;
  padding: 0;
  height: 40px;
  border: none;
  cursor: pointer;
}

.action:hover{
  background: base.$button-hover-color;
  transition: background 1s;
}

.action:focus{
  outline: none;
}

header{
  background: base.$button-bg-color;
  height: 60px;
  a{
    text-decoration: none;
  }
  .action{
    padding: 0 20px 0 20px;
    width: 10%;
    background: transparent;
    height: 100%;
  }

  div{
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

.header-film-div{
  float: left;
  width: fit-content;
  .action{
    width: max-content;
  }
}

.header-user-div{
  float: right;
  width: fit-content;
  .action{
    width: fit-content;
  }
}

.form-block{
  font-family: 'Raleway', sans-serif;
  width: base.$default-form-width;
  margin: 0 auto;


  label{
    display: block;
    width: base.$default-input-width;
    font-size: base.$default-form-font-size;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  }

  input{
    width: base.$default-input-width;
  }

  select{
    width: base.$default-input-width;
    font-size: base.$default-form-font-size;
    margin: 0;
    padding: 5px 3px;
    border: base.$input-border;
    border-radius: 5px;
    font-weight: 400;
    background: base.$white;
  }

  option{
    width: base.$default-input-width;
    font-size: base.$default-form-font-size;
    margin: 0;
    padding: 5px 3px;
    border: base.$input-border;
    border-radius: 5px;
    font-weight: 400;
  }

  .action{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }

  textarea{
    width: base.$default-input-width;
    font-size: base.$default-form-textarea-font-size;
    margin: 0;
    padding: 5px 3px;
    border: base.$input-border;
    border-radius: 5px;
    resize: none;
    height: 100px;
    font-weight: 400;
  }

}

.registration-role-choice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: base.$input-border;
  border-radius: 5px;
  padding: 10px;

}

.registration-role-item{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 40%;

  label{
    margin: 0;
    width: initial;
  }

  input{
    width: initial;
    margin-left: 10px;
  }
}

.search-input{
  width: 50%;
  margin: 0 auto;
}


.film-list{
  padding: 20px;
  display: flex;
}

.item{
  width: 310px;
  height: 550px;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
  border: 3px inset base.$form-border-color;
  border-width: 3px 1px 1px 3px;
  border-radius: 5px;
  label{
    width: 100%;
    display: block;
    font-size: 1.1em;
    margin-top: 10px;
    font-weight: 700;
  }
  .item-photo{
    display: block;
    margin: 0 auto;
    padding: 5px;
    height: 200px;
    width: 95%;
    margin-top: 5px;
  }
  .item-name{
    width: 100%;
    display: block;
  }
  .item-genre{
    width: 100%;
    display: block;
  }
  .item-description{
    width: 100%;
    display: block;
    height: 100px;
  }
  .item-price {
    width: 100%;
    display: block;
  }
}

.item:hover{
  border-width: 4px 1px 1px 4px;
  transition: 0.5s border;
}